
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #9bd0deb2;
  color: #333;
  margin: 0;
  padding: 0;
}

.img-fluid {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
